/* zad1 */
nav {
    display: flex;
    justify-content: space-between;
}

/* telefon */
@media (max-width: 600px){
    nav {
        flex-direction: column;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(1, 1fr);    
        gap: 1px; 
      }
      body {background-color: black;}
}

/* komputer */
@media (min-width: 1201px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr);    
        gap: 1px; 
      }
      
      .grid-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
}
/* tablet */
@media (min-width: 601px) and (max-width:1200px){
    nav {
        flex-direction: column;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(1, 1fr);    
        gap: 1px; 
      }
      body {background-color: aqua;}
}
.container{
    display: flex;
    justify-content: space-evenly;
     
     gap: 1px; 
}