/* Phone */
@media (max-width: 650px){
    nav {
        flex-direction: column;
        display: flex;
    }
    .img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(1, 1fr);    
        gap: 1px; 
      }
      body {background-color: black;}
}

/* Computer */
@media (min-width: 1201px){
    .img-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr);    
        gap: 1px; 
      }
     .img-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      nav {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
   
   
    
     
    
}
/* Tablet */
@media (min-width: 651px) and (max-width:1200px){
    nav {
        flex-direction: column;
    }
    .img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(1, 1fr);    
        gap: 1px; 
      }
      body {background-color: aqua;}

.container{
    display: flex;
    justify-content: space-evenly;
     
     gap: 1px; 
}
}
.cards{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
.card  {
        display: flex;
        justify-content: center;
        align-items:flex-start;
        background: rgb(126,122,208);
        background: linear-gradient(90deg, rgba(126,122,208,1) 11%, rgba(152,150,217,1) 35%, rgba(98,96,230,1) 70%);
        width: 200px;
        height: 300px;
        border-radius: 10px;
        outline: 3px solid black;
        gap: 10;
      
}
.card h1{
    display: flex;
    justify-content: center;
}
.card p {
    align-self: flex-end;
    
}